{{#if this.sendComponent}}
  {{#if (has-block)}}
    <this.sendComponent
      id={{this.wormholeId}}
      class="{{this.wormholeClass}} liquid-wormhole-element" as |details|
    >
      {{yield details}}
    </this.sendComponent>
  {{else}}
    <this.sendComponent
      id={{this.wormholeId}}
      class="{{this.wormholeClass}} liquid-wormhole-element"
    />
  {{/if}}
{{else}}
  <div
    id={{this.wormholeId}}
    class="{{this.wormholeClass}} liquid-wormhole-element"
  >
    {{yield}}
  </div>
{{/if}}