<div
  class="liquid-destination
    {{this.extraClassesString}}
    {{if this.hasWormholes 'has-wormholes'}}"
>
  {{#each this.stacks as |stack|}}
    <StackContainer as |container|>
      <LiquidVersions
        @value={{stack.lastObject}}
        @notify={{this}}
        @renderWhenFalse={{true}}
        @name="liquid-wormhole"
        @matchContext={{this.matchContext}}
        @stackName={{stack.name}}
        @containerElement={{container.element}}
        as |item|
      >
        <LiquidAppend
          @nodes={{item.nodes}}
          @replaceNodes={{item._replaceNodes}}
          @notify={{item.wormhole}}
          @click={{item.wormhole.click}}
        />
      </LiquidVersions>
    </StackContainer>
  {{/each}}
</div>